.App {
  width: 30vw;
  padding: 20px;
  background-color: rgb(171, 233, 234);
  border-radius: 10px;
  margin: 100px auto;
  
}
.form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}
.form label{
  font-weight: 500;
}
.form input{
  padding: 10px;
  background-color: aliceblue;
  border: 1px solid;
  border-radius: 10px;
}
.btn{
  margin: 20px auto;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: #c1c1c1;
  font-weight: 700;
}

